@import '../../../App.scss';

.container-landing {
	height: 100%;
	min-height: calc(100vh - 183px);
	margin-top: 40px;
	display: flex;
	align-items: center;
	.container-image {
		min-width: 456px;
		margin-right: -18px;
		margin-left: -22px;
	}
}

.phones {
	width: 456px;
}

// Media queries
@media only screen and (max-width: 875px) {
	.container-landing {
		justify-content: center;
		.container-image {
			display: none;
		}
	}
}
