@import '../../App.scss';

// index.js

.form--app-links-container {
	width: 100%;
	min-width: 350px;
	p {
		margin: 15px 20px 10px;
	}
	.form--app-links {
		display: flex;
		padding: 10px;
		width: 100% !important;
		justify-content: center;
		a {
			height: 40px;
			img {
				height: 40px;
			}
			&:first-child {
				margin-right: 8px;
			}
		}
	}
}

// LoginForm.js

.form-container {
	border: 1px solid $gray-light;
	background-color: $white;
	padding: 9.5px 40px 20px !important;
	margin: 0px 0 10px !important;
	.form-title {
		margin-bottom: -12px;
		img {
			height: 96px;
			width: 187px;
		}
	}
	form {
		.form-container--or {
			margin-top: 14px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.line {
				border-top: 1px solid $gray-light;
				width: 108px;
			}
			p {
				font-weight: 600;
				color: $gray;
				font-size: 14px;
			}
		}
		.btn-login {
			margin-top: 1rem;
			background-color: $blue !important;
			color: $white !important;
			font-weight: 600 !important;
			font-size: 14px !important;
			padding: 5px !important;
			border-radius: 5px !important;
		}
		.facebook-auth {
			margin-top: 21px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			.facebook-logo {
				border-radius: 2px;
				height: 16px !important;
				width: 16px !important;
				background-color: $white;
				background-image: url('./img/facebook.svg');
				margin-right: 10px;
			}
			.facebook-auth-text {
				font-size: 14px !important;
				font-weight: 600 !important;
				color: $navy !important;
			}
		}
		.forgot-password {
			margin-top: 15px;
			font-size: 13px;
			color: $navy;
		}
	}
}

.btn-login,
.facebook-auth-text,
.forgot-password,
.register-call-to-action {
	font-family: 'Segoe';
}

// RegisterForm
.btn-facebook-signup {
	display: flex !important;
	flex-direction: row;
	align-items: center !important;
	justify-content: center !important;
	img {
		height: 15px;
		width: 15px;
		margin-right: 8px;
	}
}
.mb-register--or {
	margin-bottom: 15px !important;
}
.register-call-to-action {
	font-size: 1rem !important;
	font-weight: bold;
	line-height: 1.1rem;
	color: $gray;
}

// FormFooter.js

.form-footer {
	width: 100%;
	min-width: 350px;
	border: solid $gray-light 1px;
	background-color: $white;
	.form-footer-text {
		padding: 20px 0;
		p {
			font-size: 14px;

			span {
				font-weight: bold;
				color: $blue;
				cursor: pointer;
			}
		}
	}
}
