// Color Variables

$white-shade: #fafafa;
$white: #ffffff;
$gray: #8e8e8e;
$gray-light: #dbdbdb;
$black: #262626;
$blue: #0096f6;
$blue-muted: #c0dffd;
$navy: #39559f;

$danger: #f57f91 !default;
$warning: #fa6500 !default; // f5a87f
$primary: $blue !default; // b57ff5
$secondary: #b9b3af !default;
$success: #6fbd43 !default; // 04afee  7ec494
