@font-face {
	font-family: 'Segoe';
	src: url(./fonts/segoe-ui-regular.ttf) format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Segoe';
	src: url(./fonts/segoe-ui-bold.ttf) format('truetype');
	font-weight: 600;
}
